version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
    environment:
      - APP_ENV=local
      - DB_HOST=db
      - DB_NAME=item_request_db
      - DB_USER=postgres
      - DB_PASS=password

    depends_on:
      db:
        condition: service_healthy

  db:
    build:
      context: .
      dockerfile: docker/Dockerfile.db
    environment:
      POSTGRES_DB: item_request_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
